backports.ssl-match-hostname==3.4.0.2
-e git+https://github.com/dotcloud/docker-py@4b090441bcb2685578c2600c9e922ab01165d007#egg=docker_py-master
mock==1.0.1
networkx==1.8.1
requests==2.2.1
six==1.3.0
thrift==0.9.1
tornado==3.2
websocket-client==0.11.0
wsgiref==0.1.2
